{% import "bootstrap/wtf.html" as wtf %}
{% from "forms/_formhelper.html" import render_field, render_button %}

<form class="row g-3" method="POST" action="{{ url_for('quiz.quizcreatepage', plan=chosen_plan.id) }}">
  <h5>Quiz Creation Form</h5>
  {{ form.hidden_tag() }}
  <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Plan</label>
      <select class="form-select" id="inputGroupSelect01" disabled>
        <option id="{{ chosen_plan.id }}" value="{{ chosen_plan.id }}" selected>{{ chosen_plan.name }}</option>
      </select>
    </div>
    <div class="form-floating mb-3">
      {{ render_field(form.name, class='form-control', placeholder='Super Awesome Quiz', id="quizNameHelp") }}
      <div id="quizNameHelp" class="form-text">Think of a cool quiz name!</div>
    </div>
    <div class="form-floating mb-3">
      {{ render_field(form.date, type='date', class='form-control', placeholder='01/01/1971', id="dateHelp") }}
      <div id="dateHelp" class="form-text">Set the Date of the Quiz. ( MM - DD - YYYY )</div>
    </div>
    <div class="form-floating mb-3">
      {{ render_field(form.time, type='time', class='form-control', placeholder='23:59', id="timeHelp") }}
      <div id="timeHelp" class="form-text">Set the Time of the Quiz. ( 24-hour clock format )</div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <p>You will get another chance to review before you place this order on the next payment page.</p>
  </div>
</form>