{% import "bootstrap/wtf.html" as wtf %}
{% from "forms/_formhelper.html" import render_field, render_button %}

<main>
  <div class="container pt-5 " action="{{ url_for('user.register') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5 ">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Create an account</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-floating mb-3">
                {{ render_field(form.email, class='form-control', placeholder='name@example.com', id="emailHelp") }}

              </div>
              <div class="form-floating mb-3">
                {{ render_field(form.username, class='form-control', placeholder='username123', id='usernameHelp') }}
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    {{ render_field(form.password, class='form-control', placeholder='Password', id='passwordHelp') }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    {{ render_field(form.retype_password, class='form-control', placeholder='Retype Password') }}
                  </div>
                </div>
              </div>
              <div class="mt-4 mb-0">
                {{ render_button(form.submit, class='btn btn-info', value='Submit') }}
              </div>
            </form>
          </div>
          <div class="card-footer text-center py-3">
            <div class="small">Have an account? <a href="login.html">Go to login</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>