{% import "bootstrap/wtf.html" as wtf %}
{% from "forms/_formhelper.html" import render_field, render_button, render_submit_field %}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Change Password</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('user.change_password')}}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-floating mb-3">
                            {{ render_field(form.old_password, class='form-control', placeholder='Old Password', id="old_password") }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ render_field(form.new_password, class='form-control', placeholder='New Password', id='new_password') }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ render_field(form.retype_password, class='form-control', placeholder='Retype Password', id='retype_password') }}
                        </div>
                        {{ render_button(form.submit, class='btn btn-info') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>