<!-- Pricing Plan #1 -->
{% if pricingplans|length < 1 %}
<h4>Sorry, we don't seem to have any active pricing plans currently.</h4>
{% else %}
{% for plan in pricingplans %}
<div class="col-lg-3 col-md-6">
	<div class="card text-center card-shadow pricing-on-hover border-0 mb-4">
		<div class="card-body font-14">
			{% if plan.popular_plan == True %}
			<span class="badge badge-inverse p-2 position-absolute price-badge font-weight-normal">Popular</span>
			{% endif %}
			<h5 class="mt-3 mb-1 font-weight-medium">{{ plan.name }}</h5>
			<h6 class="subtitle font-weight-normal">Total Player Capacity: <strong>{{ plan.total_players }}</strong></h6>
			{% if plan.payment_required == False %}
			<div class="alert alert-success" role="alert">
				Free!
			</div>
			{% else %}
			<div class="currency-label my-3">
				<sup>₹</sup>
				<span class="monthly display-5">{{ plan.price }}</span>
				<small class="monthly">/quiz</small>
			</div>
			{% endif %}
			<div class="bottom-btn">
				<a class="btn btn-dark btn-md text-white btn-block" href="{{ url_for('quiz.quizcreatepage', plan=plan.id) }}"><span>Choose Plan</span></a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}

<!-- Pricing Plan #4 -->
<div class="col-lg-3 col-md-6">
	<div class="card text-center card-shadow pricing-on-hover border-0 mb-4">
		<div class="card-body font-14">
			<span class="badge badge-inverse p-2 position-absolute price-badge font-weight-normal">Popular</span>
			<h5 class="mt-3 mb-1 font-weight-medium">Static Plan</h5>
			<h6 class="subtitle font-weight-normal">This plan doesnt work</h6>
			<div class="currency-label my-3">
				<sup>₹</sup>
				<span class="monthly display-5">50</span>
				<small class="monthly">/mo</small>
			</div>
			<ul class="list-inline">
				<li class="d-block py-2">Benefit #1</li>
				<li class="d-block py-2">Benefit #2</li>
				<li class="d-block py-2">Benefit #3</li>
			</ul>
			<div class="bottom-btn">
				<a class="btn btn-dark btn-md text-white btn-block"><span>Choose Plan</span></a>
			</div>
		</div>
	</div>
</div>