{% extends 'base.html' %}

{% block content %}

<main class="page payment-page pt-5 ">
	<section class="payment-form dark">
		<div class="block-heading">
			<h2>Quiz Details</h2>

		</div>
		<div class="container">
			<form action="{{ url_for('quiz.quiz_register_page', uuid=quiz.id) }}" method="POST">
				<div class="products">
					<h3 class="title">Details</h3>
					<div class="item">
						<span class="price">{{ quiz.details.name }}</span>
						<p class="item-name">Quiz Name</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.id }}</span>
						<p class="item-name">Quiz UUID</p>

					</div>
					<div class="item">
						<span class="price">{{ quiz.quiz_owner.parent_user.profile.first_name }} {{ quiz.quiz_owner.parent_user.profile.last_name }} (<strong>{{ quiz.quiz_owner.parent_user.username }}</strong>)</span>
						<p class="item-name"> Host</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.quiz_master.parent_user.profile.first_name }} {{ quiz.quiz_master.parent_user.profile.last_name }} ({{ quiz.quiz_master.parent_user.username }})</span>
						<p class="item-name">Quiz Master</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.parent_pricing_plan.name }}</span>
						<p class="item-name">Quiz Pricing Plan</p>

					</div>
					<div class="item">
						<span class="price">{{ quiz.details.date }}</span>
						<p class="item-name">Quiz Date</p>

					</div>
					<div class="item">
						<span class="price">{{ quiz.details.time }}</span>
						<p class="item-name">Quiz Time</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.details.subscription_price }}</span>
						<p class="item-name">Entry Fee</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.details.current_players }} / {{ quiz.parent_pricing_plan.total_players }}</span>
						<p class="item-name">Slots</p>
					</div>
					<div class="d-grid col-6 mx-auto" >
						<button class="btn btn-success btn-lg " type="Submit">Register!</button>
					</div>
				</div>
			</form>
		</div>
		</div>
	</section>
</main>

{% endblock %}