{% extends 'base.html' %}

{% block content %}
<section class="content-section bg-light">
	<div class="container px-4 px-lg-5 text-center">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-10">
				<h2>GetSetQuiz</h2>
				<p class="lead mb-5">
					Register for Quiz
				</p>
			</div>
		</div>
	</div>
</section>

<section class="content-section bg-light">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 d-flex justify-content-around">
			<div class="row g-3 p-3 m-3">
				<div class="row quiz-info-item-header">
					<div class="text-bold">
						<h4>{{ quiz.name }}</h4>
					</div>
				</div>
				<div class="row g-1 p-1 m-1">
					<div class="row">
						<div class="col-12">
							<h5 class="text-muted">Quiz UUID</h5>
							<h6 class="text-bold">{{ quiz.uuid }}</h6>
						</div>
						<div class="col-12">
							<h5 class="text-muted">Pricing Plan</h5>
							<h6 class="text-bold">{{ quiz.quiz_payment.parent_pricing_plan.name }}</h6>
						</div>
						<div class="col-6">
							<h5 class="text-muted">Host</h5>
							<h6 class="text-bold">{{ quiz.quiz_owner.parent_user.username }} [Change to names.]</h6>
						</div>
						<div class="col-6">
							<h5 class="text-muted">Quiz Master</h5>
							<h6 class="text-bold">{{ quiz.quiz_master.parent_user.username }}</h6>
						</div>
						<div class="col-6">
							<h5 class="text-muted">Entry Fee</h5>
							<h6 class="text-bold">{{ quiz.subscription_price }}</h6>
						</div>
						<div class="col-6">
							<h5 class="text-muted">Date</h5>
							<h6 class="text-bold">{{ quiz.date }} {{ quiz.time }}</h6>
						</div>
						<div class="col-6">
							<h5 class="text-muted">Slots</h5>
							<h6 class="text-bold">{{ quiz.current_players }} / {{ quiz.total_players }}</h6>
						</div>
						<div class="col-12">
							<form action="{{ url_for('quiz.quiz_register_page', uuid=quiz.uuid) }}" method="POST">
								<button class="btn btn-success btn-lg" type="Submit">Register!</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}