{% extends 'base.html' %}

{% block content %}
<main class="page payment-page pt-6 ">
	<section class="payment-form dark">
		<div class="block-heading">
			<h2>Payment</h2>
			<p>Take a final look before you checkout!</p>
		</div>
		<div class="container">
			<form>
				<div class="products">
					<h3 class="title">Checkout</h3>
					<div class="item">
						<span class="price">{{ quiz.id }}</span>
						<p class="item-name">Quiz UUID</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.parent_pricing_plan.name }}</span>
						<p class="item-name">Quiz Pricing Plan</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.parent_pricing_plan.total_players }}</span>
						<p class="item-name">Quiz Total Slots</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.quiz_owner.payment_status }}</span>
						<p class="item-name">Quiz Payment Status</p>
					</div>
					<div class="total">Total<span class="price">{{ quiz.parent_pricing_plan.price }}</span></div>
					<button class="btn btn-warning" id="skip_payment" type="button">Pay Later</button>
				</div>
			</form>
			<div class="col-md-12 p-4 ">
				<div class="d-grid gap-2">
					{% block razorpay_payment_button %}
					{% include 'forms/razorpay_quiz_create_payment_form.html' %}
					{% endblock %}
				</div>
			</div>
		</div>
	</section>
</main>


{% endblock %}
{% block ui_scripts %}
<script type="text/javascript">
	$('#skip_payment').click(function(){
		if (confirm('You can always find your unpaid quizzes on your dashboard. Click OK to continue.')){
			window.location.replace('{{ url_for('user_dashboard.user_quiz_owned') }}');
		}
	});
</script>
{% endblock %}