{% extends 'base.html' %}
<!-- About section -->
{% block content %}
<section class="content-section bg-light" id="about">
	<div class="container px-4 px-lg-5 text-center">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-10">
				<h2>Register for Quiz</h2>
				<p class="lead mb-5">
					Browse through the available quiz games down below and choose one to register.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="content-section bg-light">
	<div class="row px-4 px-lg-5">
		<h4>Browse</h4>
	</div>
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
				{% include 'quiz/quiz_browse_rows.html' %}
		</div>
	</div>
</section>

{% endblock %}