{% extends 'base.html' %}

{% block content %}
<section class="container mt-5 pt-2">
	<div class="row h-100 g-0">
		<div class="col">
			<div class="card border-0 shadow rounded-3  d-flex overflow-hidden mb-3 p-3">
				<div class="d-flex align-items-center">
					<div class="image"> <img
							src="https://ui-avatars.com/api/?background=random&length=1&name={{quiz.details.name}}"
							class=" me-3" width="120"> </div>
					<div class="ms-1 w-100">
						<span class= "text-muted">Quiz hosted by {{ quiz.quiz_master.parent_user.username}}</span>
						<h2 class="mb-0 mt-0">{{ quiz.details.name }}</h2>
						<div class="p-2 mt-2 d-flex justify-content-between">
							<div class="d-flex flex-column">
								<span class = "text-sm-start"><i class="far fa-calendar"></i> {{ quiz.details.date }}</span>
							</div>
							<div class="d-flex flex-column">
								<span class = " text-sm-end"><i class="fab fa-discord"></i> <a class = "text-decoration-none" href= "https://discord.io/getsetquiz"> https://discord.io/getsetquiz </a></span>
							</div>
							<div class="d-flex flex-column">
								<span class="text-sm-center"><i class="fas fa-map-marker"></i> Online</span>
							</div>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row h-100 ps-4 ">
		<div class="border-0 shadow rounded-3 d-flex flex-column  flex-shrink-0 bg-white pt-2" style="width: 380px;">
				<div class="list-group list-group-flush border-bottom scrollarea">
				  <a href="#" class="list-group-item list-group-item-action py-3 lh-1" >
					<div class="d-flex w-100  align-items-center justify-content-between">
					  <strong class="mb-1">Participants</strong>
					  <small>{{ quiz.details.current_players }}</small>
					</div>
					<div class="col-10 mb-1 small"></div>
				  </a>
				  <a href="#" id= "reg" class="list-group-item list-group-item-action py-3 lh-1">
					
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1" >Register for this event</strong> 
					<form id ="register"  action="{{ url_for('quiz.quiz_register_page', uuid=quiz.id) }}" method="POST"> 
						
					</form>
					</div>
				  </a>
				  <a href="{{url_for('quiz.quiz_browse_page')}}" class="list-group-item list-group-item-action py-3 lh-1">
					<div class="d-flex w-100 align-items-center justify-content-between">
					 
						<strong class="mb-1">Go Back</strong>
					  
					</div>
				  </a>
				
				</div>
		</div>
		<div class = "col-xl-8 ">
			<div class="card border-0 shadow rounded-3  d-flex overflow-hidden mb-3 p-3">
				<h5 class= "card-title">Description</h5>
				<div class= "card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus nullam eget felis eget nunc lobortis mattis. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Elit eget gravida cum sociis. Aliquam eleifend mi in nulla posuere.	</div>
			</div>
			<div class="card border-0 shadow rounded-3  d-flex overflow-hidden mb-3 p-3">
				<h5 class= "card-title">General Info and Requirements</h5>
				<div class= "card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus nullam eget felis eget nunc lobortis mattis. </div>
				<div class= "card-text">Requirements<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus nullam eget felis eget nunc lobortis mattis. </span></div>
			</div>
			<div class="card border-0 shadow rounded-3  d-flex overflow-hidden mb-3 p-3">
				<h5 class= "card-title">Schedule</h5>
				<div class= "card-text">
					<ul>
						<li>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

						</li>
						<li>
							Aliquam tincidunt mauris eu risus.
						</li>
						<li>
							Vestibulum auctor dapibus neque.
						</li>
						<li>
							Praesent placerat risus quis eros.
						</li>

					</ul>
				</div>
			</div>
			<div class="card border-0 shadow rounded-3  d-flex overflow-hidden mb-3 p-3">
				<h5 class= "card-title">Participants</h5>
				<div class= "card-text">
					<div row=" g-1">
						{% set increment = 1 %}
							{% for subscriber in quiz.subscribers %}
						<div class = "d-block row">
							
							
								{% if subscriber.parent_user.profile %}
								<div class="image pt-2"> <img
									src="https://ui-avatars.com/api/?background=random&length=1&name={{subscriber.parent_user.profile.first_name}}"
									class="rounded-circle me-3" width="40"> {{ subscriber.parent_user.profile.first_name }} {{
										subscriber.parent_user.profile.last_name }} 
									
										{{ subscriber.parent_user.profile.nationality }} 
									</div>
								
								
								{% else %}
							
								{% endif %}
								{% endfor %}
							
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

</section>
<script>
	document.getElementById('reg').addEventListener('click',function() {
		document.getElementById('register').submit();
	});	

</script>


{% endblock %}