{% extends 'base.html' %}

{% block content %}
<main class="page payment-page pt-6 ">
	<section class="payment-form dark">
		<div class="block-heading">
			<h2>Payment</h2>
			<p>Take a final look before you checkout!</p>
		</div>
		<div class="container">
			<form>
				<div class="products">
					<h3 class="title">Checkout</h3>
					<div class="item">
						<span class="price">{{ quiz.name }}</span>
						<p class="item-name">Quiz Name</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.uuid }}</span>
						<p class="item-name">Quiz UUID</p>

					</div>
					<div class="item">
						<span class="price">{{ pricing_plan_used.name }}</span>
						<p class="item-name">Quiz Pricing Plan</p>

					</div>
					<div class="item">
						<span class="price">{{ quiz.date }}</span>
						<p class="item-name">Quiz Date</p>

					</div>
					<div class="item">
						<span class="price">{{ quiz.time }}</span>
						<p class="item-name">Quiz Time</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.total_players }}</span>
						<p class="item-name">Quiz Total Slots</p>
					</div>
					<div class="item">
						<span class="price">{{ quiz.quiz_payment.payment_status }}</span>
						<p class="item-name">Quiz Payment Status</p>
					</div>
					<div class="total">Total<span class="price">Rs. 150</span></div>
				</div>
				<div class="form-group col-md-12 p-4 ">
					<div class="d-grid gap-2" >
						{% block razorpay_payment_button %}
						{% include 'forms/razorpay_payment_form.html' %}
						{% endblock %}
					</div>
				</div>

			</form>
		</div>
	</section>
</main>


{% endblock %}