{% extends 'base.html' %}

{% block content %}
<section class="content-section bg-light">
	<div class="container px-4 px-lg-5 text-center">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-10">
				<h2>Create A Quiz</h2>
				<p class="lead mb-5">
					We would require some information from you before we proceed. This should only take a minute to fill in.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-light">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-10">
				<h4>Quiz Payment Page</h4>
				<p>Quiz Name: {{ quiz.name }}</p>
				<p>Quiz UUID: {{ quiz.uuid }}</p>
				<p>Quiz Host: {{ quiz.quiz_owner.parent_user.username }}</p>
				<p>Quiz Master: {{ quiz.quiz_master.parent_user.username }}</p>
				<p>Quiz Date: {{ quiz.date }}</p>
				<p>Quiz Time: {{ quiz.time }}</p>
				<p>Quiz Total Players: {{ quiz.total_players }}</p>
				<p>Quiz Payment Status: {{ quiz.quiz_payment.payment_status }}</p>

				<h4>Please proceed to payment nnow: </h4>
				{% block razorpay_payment_button %}
					{% include 'forms/razorpay_quiz_register_payment_form.html' %}
				{% endblock %}
			</div>
		</div>
	</div>
</section>

{% endblock %}