{% if quizzes|length < 1 %} <h4>There are currently no quizzes!</h4>
{% else %}
{% for quiz in quizzes %}
{% set increment = 0 %}

	<div class="row" onclick="location.href='{{ url_for('quiz.quiz_register_page', uuid= quiz.uuid) }}';">
		<div class="col-4">
			<div class="quiz-info-item-header ">
				<div class="text-bold ">
					<h4>{{ quiz.name }}</h4>
				</div>
			</div>
			<div class="quiz-info-container">
				<div class="quiz-info-item">
					<div class="col-12">
						<h5 class="text-muted">Quiz UUID</h5>
						<h6 class="text-bold">{{ quiz.uuid }}</h6>
					</div>
				</div>
				<div class="quiz-info-item">
					<div class="col-12">
						<h5 class="text-muted">Pricing Plan</h5>
						<h6 class="text-bold">{{ quiz.quiz_owner.parent_pricing_plan.name }}</h6>
					</div>
				</div>
				<div class="quiz-info-item">
					<div class="col-6">
						<h5 class="text-muted">Host</h5>
						<h6 class="text-bold">{{ quiz.quiz_owner.parent_user.username }}</h6>
					</div>
				</div>
				<div class="quiz-info-item">
					<div class="col-6">
						<h5 class="text-muted">Quiz Master</h5>
						<h6 class="text-bold">{{ quiz.quiz_master.parent_user.username }}</h6>
					</div>
				</div>
				<div class="quiz-info-item">
					<div class="col-6">
						<h5 class="text-muted">Date</h5>
						<h6 class="text-bold">{{ quiz.date }} {{ quiz.time }}</h6>
					</div>
				</div>
				<div class="quiz-info-item">
					<div class="col-6">
						<h5 class="text-muted">Slots</h5>
						<h6 class="text-bold">{{ quiz.current_players }} / {{ quiz.total_players }}</h6>
					</div>
				</div>
				<div class="quiz-info-item">
					<div class="col-6">
						<h5 class="text-muted">Subscription Price</h5>
						<h6 class="text-bold">{{ quiz.subscription_price }}</h6>
					</div>
				</div>
				<span class="badge rounded-pill bg-light text-dark">Light</span>
			</div>
		</div>
	</div>

{% set increment = increment + 1 %}
{% endfor %}
{% endif %}