{% extends 'base.html' %}
<!-- About section -->
{% block content %}
<section class="content-section " id="about">
	<div class="container px-4 px-lg-5 pt-5 ">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-10 text-center">
				<h2>Register for Quiz</h2>
				<p class="lead mb-5">
					Browse through the active Quiz competitions down below and register.
				</p>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				{% if quizzes|length < 1 %} <h4>There are currently no quizzes!</h4>
				{% else %}
				{% for quiz in quizzes %}
				<div class="col-xl-4 col-md-6">
					<div class="card border-0 shadow rounded-3 overflow-hidden mb-3"
					onclick="location.href='{{ url_for('quiz.quiz_register_page', uuid= quiz.id) }}';">
					<div class="row g-0">
						<div class="card-body">
							<div class="col">
								<h5 class="card-title text-uppercase">
									{{ quiz.name }}
								</h5>
								<div class="px-2">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Quiz Master: {{ quiz.quiz_master.parent_user.username }}</li>
										<li class="list-group-item">Pricing Plan: {{ quiz.parent_pricing_plan.name }}</li>
										<li class="list-group-item">Slots: [fix] / {{ quiz.parent_pricing_plan.total_players }}</li>
										<li class="list-group-item">Date: {{ quiz.details.date }}</li>
										<li class="list-group-item">Time: {{ quiz.details.time }}</li>
										<li class="list-group-item">Subscription Price: {{ quiz.details.subscription_price }}</li>
										<li class="list-group-item">Host: {{ quiz.quiz_owner.parent_user.username }}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %} 
		{% endif %}
		</div>
	</div>
</div>
</section>

{% endblock %}