{% if quizzes|length < 1 %} <h4>There are currently no quizzes!</h4>
	{% else %}
	{% for quiz in quizzes %}
	{% set increment = 0 %}
	<div class="col-xl-4 col-md-6">
		<div class="card border-0 shadow rounded-3 overflow-hidden mb-3"
			onclick="location.href='{{ url_for('quiz.quiz_register_page', uuid= quiz.uuid) }}';">
			<div class="row g-0">
				<div class="card-body">
					<div class="col">
						<h5 class="card-title text-uppercase">
							{{ quiz.name }}
						</h5>
						<div class="px-2">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Quiz Master: {{ quiz.quiz_master.parent_user.username }}</li>
								<li class="list-group-item">Pricing Plan: {{ quiz.quiz_owner.parent_pricing_plan.name }}</li>
								<li class="list-group-item">Slots: {{ quiz.current_players }} / {{ quiz.total_players }}</li>
								<li class="list-group-item">Date: {{ quiz.date }}</li>
								<li class="list-group-item">Subscription Price: {{ quiz.subscription_price }}</li>
								<li class="list-group-item">Time: {{ quiz.time }}</li>
								<li class="list-group-item">Host: {{ quiz.quiz_owner.parent_user.username }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% set increment=increment + 1 %} {% endfor %} {% endif %}