{% if quizzes|length < 1 %}
<h4>There are currently no quizzes!</h4>
{% else %}
{% for quiz in quizzes %}
{% set increment = 0 %}
<div class="row g-3 p-3 m-3 quiz-info-item shadow" onclick="nlocation.href='{{ url_for('quiz.quizregisterpage', uuid= quiz.uuid) }}';">
	<div class="row quiz-info-item-header">
		<div class="text-bold">
			<h4>{{ quiz.name }}</h4>
		</div>
	</div>
	<div class="row g-1 p-1 m-1">
		<div class="row">
			<div class="col-12">
				<h5 class="text-muted">Quiz UUID</h5>
				<h6 class="text-bold">{{ quiz.uuid }}</h6>
			</div>
			<div class="col-12">
				<h5 class="text-muted">Pricing Plan</h5>
				<h6 class="text-bold">{{ pricing_plans[increment] }}</h6>
			</div>
			<div class="col-6">
				<h5 class="text-muted">Host</h5>
				<h6 class="text-bold">{{ owner_names[increment] }}</h6>
			</div>
			<div class="col-6">
				<h5 class="text-muted">Entry Fee</h5>
				<h6 class="text-bold">Free to enter</h6>
			</div>
			<div class="col-6">
				<h5 class="text-muted">Date</h5>
				<h6 class="text-bold">{{ quiz.date }} {{ quiz.time }}</h6>
			</div>
			<div class="col-6">
				<h5 class="text-muted">Slots</h5>
				<h6 class="text-bold">{{ quiz.current_players }} / {{ quiz.total_players }}</h6>
			</div>
		</div>
	</div>
</div>
{% set increment = increment + 1 %}
{% endfor %}
{% endif %}