<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-7 col-md-6">
                <div class="card border-0 shadow rounded-3 overflow-hidden mb-3">
                    <div class="card-body">


                        <div class="row">
                            <div class="col">
                                Rankings
                            </div>
                            <div class="col">
                                <span class="flag-icon flag-icon-in"></span>9111
                            </div>
                            <div class="col">
                                <i class="fa fa-globe" aria-hidden="true"></i>128880
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col">
                                Total Matches
                            </div>
                            <div class="col">
                                50
                            </div>
                            <div class="col">
                                Overall Win%
                            </div>
                            <div class="col">
                                52%
                            </div>
                        </div>
                        <hr>

                        <div class="row ">
                            <div class="col-3">
                                Last 5 Quiz
                            </div>
                            <div class="col-9">
                                W W L W L
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-6">
                <div class="card border-0 shadow rounded-3 overflow-hidden mb-3">
                    <div class="row g-0">
                        <div class="col-sm-1">
                            <div class="dp p-3">
                                <img class="rounded-circle me-3 " src="https://dummyimage.com/40x40/ced4da/6c757d"
                                    alt="..." />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{user.username}} <span class="flag-icon flag-icon-in"></span>
                                </h5>
                                <p class="card-text text-center">University of Whatsapp</p>
                                <p class="card-text text-center"><small class="text-muted">Member since
                                        {{user.registered_on}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class=" card-body" style="max-height: 170px;">
                                <h5 class="card-title text-center">
                                    About Me
                                </h5>
                                <p class="card-text text-center">I am a GigaChad what else do you wanna know. I love
                                    participating in
                                    quizzes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-7 col-md-6">
                <div class="card border-0 shadow rounded-3 overflow-hidden mb-3 ">
                    <div class="card-body">

                        <h5 class="card-title ">
                            <i class="fas fa-chart-area me-1"></i>

                            Upcoming Events
                        </h5>

                        <div id='calendar' style="text-decoration: none;" ></div>
                    </div>
                </div>
            </div>




            <div class="col-xl-5">
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-chart-bar me-1"></i>
                            Last Quiz Report
                        </h5>
                        <p class="card-text text-center">No quizzes to show</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>