{% extends 'dashboardbase.html' %}

{% block dashboard_content %}
{% if hosted_quizzes.count() < 1 %}
<p>You do not own any quizzes currently.</p>
{% else %}
{% for quiz in hosted_quizzes %}

<a href="{{ url_for('user_dashboard.user_quiz_hosted_actions', uuid=quiz.parent_quiz.id) }}" style="text-decoration:none;">
	<div class="card mt-3" style="min-width: 540px;">
		<div class="row g-0">
			<div class="col-md-2">
				<p>Quiz DP?</p>
			</div>
			<div class="col-md-10">
				<div class="card-body">
					{% if quiz.parent_quiz.details %}
					<h5 class="card-title" class="text-bold">{{ quiz.parent_quiz.details.name }}</h5>
					<p class="card-text" class="text-normal ">Slots: {{ quiz.parent_quiz.details.current_players }} / {{ quiz.parent_quiz.parent_pricing_plan.total_players }}</p>
					<p class="card-text"><small class="text-muted">{{ quiz.parent_quiz.details.date }} {{ quiz.parent_quiz.details.time }}</small></p>
					{% if not quiz.user_confirm %}
					<button class="btn btn-sm btn-outline-warning">Invitation Pending</button>
					{% else %}
					<button class="btn btn-sm btn-outline-success">Invitation Accepted</button>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</a>


{% endfor %}
{% endif %}

{% endblock %}
