{% extends 'dashboardbase.html' %}

{% block dashboard_content %}
{% if subscribed_quizzes.count() < 1 %}
<div class ="text-center pt-6">
	<h2>You have not subscribed for any quizzes yet.</h2>
</div>

{% else %}
{% for quiz in subscribed_quizzes %}
<a href="{{ url_for('user_dashboard.user_quiz_subscribed_actions', uuid=quiz.parent_quiz.id) }}" style="text-decoration:none;">
	<div class="col-xl-5 col-md-6">
		<div class="card cards border-0 shadow rounded-3  d-flex overflow-hidden m-3 p-3">
			<div class="d-flex align-items-center">
				<div class="image"> <img
					src="https://ui-avatars.com/api/?background=random&length=1&name={{ quiz.parent_quiz.details.name }}"
					class="rounded-circle m-3" width="120"> </div>
				<div class="ms-1 w-100">
				
					{% if quiz.parent_quiz.details %}
					<h5 class="card-title" class="text-bold">{{ quiz.parent_quiz.details.name }}</h5>
					<p class="card-text" class="text-normal ">Slots: {{ quiz.parent_quiz.details.current_players }} / {{ quiz.parent_quiz.parent_pricing_plan.total_players }}</p>
					<p class="card-text"><small class="text-muted">{{ quiz.parent_quiz.details.date }} {{ quiz.parent_quiz.details.time }}</small></p>
					{% if not quiz.payment_status %}
					<button class="btn btn-sm btn-outline-warning">UNPAID</button>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</a>

{% endfor %}
{% endif %}

{% endblock %}


