<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-7 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">


                        <div class="row">
                            <div class="col">
                                Rankings
                            </div>
                            <div class="col">
                                <span class="flag-icon flag-icon-in"></span>9111
                            </div>
                            <div class="col">
                                <i class="fa fa-globe" aria-hidden="true"></i>128880
                            </div>
                        </div>
                        <hr>
                        <div class="row ">
                            <div class="col">
                                Total Matches
                            </div>
                            <div class="col">
                                50
                            </div>
                            <div class="col">
                                Overall Win%
                            </div>
                            <div class="col">
                                52%
                            </div>
                        </div>
                        <hr>

                        <div class="row ">
                            <div class="col-3">
                                Last 5 Quiz
                            </div>
                            <div class="col-9">
                                W W L W L
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-sm-1">
                            <div class="dp pt-3">
                                <img class="rounded-circle me-3 " src="https://dummyimage.com/40x40/ced4da/6c757d"
                                    alt="..." />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{user.username}} <span class="flag-icon flag-icon-in"></span>
                                </h5>
                                <p class="card-text">University of Whatsapp</p>
                                <p class="card-text"><small class="text-muted">Member since
                                        {{user.registered_on}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class=" card-body">
                                <h5 class="card-title">
                                    About Me
                                 </h5>
                                 <p class="card-text text-align-center">I am a GigaChad what else do you wanna know. I love participating in
                                    quizzes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Schedule
                    </div>
                    <div class="card-body">


                        <div id='calendar' width="100%" height="40"></div>

                    </div>
                </div>
            </div>




            <div class="col-xl-6">
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card p-0">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Last Quiz Report
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="position-relative mb-5 mb-lg-0">
                                        Questions Attempted
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        Questions Correct
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        Questions Incorrect
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        % Accuracy
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        Position
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        Quiz Master Remark
                                    </div>

                                </div>
                                <div class="col-xl-6">
                                    <div class="position-relative mb-5 mb-lg-0">
                                        15
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        14
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        1
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        93.33%
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        2nd
                                    </div>
                                    <div class="position-relative mb-5 mb-lg-0">
                                        Wonderful Performance
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>