{% import "bootstrap/wtf.html" as wtf %}
{% from "forms/_formhelper.html" import render_field, render_button %}
<form action="{{ url_for('user.edit_user_profile') }}" method="POST">
  {{ form.hidden_tag() }}
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-floating mb-3 mb-md-0">
        {{ render_field(form.first_name, class='form-control', placeholder='First Name') }}
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3 mb-md-0">
        {{ render_field(form.last_name, class='form-control', placeholder='Last Name') }}
      </div>
    </div>
  </div>

  <div class="col-12 d-flex">
    <div class="col-2">
      <div class="form-floating mb-3">
        {{ render_field(form.phone_number_country_code, class='form-select', placeholder='ISD Code') }}
      </div>
    </div>
    <div class="col-10">
      <div class="form-floating mb-3 ms-3">
        {{ render_field(form.phone_number, class='form-control', placeholder='Phone Number') }}
      </div>
    </div>
  </div>
  <div class="form-floating mb-3 ">
    {{ render_field(form.nationality, class='form-select', placeholder='Nationality') }}
  </div>
  <div class="form-floating mb-3 ">
    {{ render_field(form.institution, class='form-control', placeholder='Institution') }}
  </div>


  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-floating mb-3 mb-md-0">
        {{ render_field(form.dob, type='date', class='form-control', placeholder='01/01/1971',
        id="dateofbirth") }}
        <div id="dateofbirth" class="form-text">Set the Date of the Quiz. ( DD - MM - YYYY )</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3 mb-md-0">
        {{ render_field(form.gender, class='form-select', placeholder='Gender') }}
      </div>
    </div>
  </div>
  <div class="mt-4 mb-0">
    {{ render_button(form.submit, class='btn btn-info', value='Save') }}
  </div>

</form>
