{% extends 'admin/admin_base.html' %}

{% block dashboard_content %}
<h1>Quiz Owners</h1>
<div class="card m-3" style="min-width: 540px;">
	<div class="row g-0">
		<div class="col-md-12">
			<div class="card-body">
				<h5 class="card-title">Quiz Owners</h5>
				<p>Find your quiz participants here, you may choose to kick them from your quiz or you may even forgive their payment if you wish to do so.</p>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Nationality</th>
							<th scope="col">Payment Status</th>
							<th scope="col">Payment Date</th>
							<th scope="col">Payment Amount</th>
							<th scope="col">Participation Status</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
						{% if all_quiz_owners|length < 1 %}
						<tr>
							<td align="center" colspan="9">Sorry, nobody has registered for your quiz yet.</td>
						</tr>
						{% else %}
						{% set increment = namespace(value=1) %}
						{% for quiz_owner in all_quiz_owners %}
						<tr>
							<td>{{ increment.value }}</td>
							<td>{{ quiz_owner.parent_user.profile.first_name }} {{ quiz_owner.parent_user.profile.last_name }}</td>
							<td>{{ quiz_owner.parent_user.profile.nationality }}</td>
							<td>
								{% if quiz_owner.payment_status %}
								<button type="button" class="btn btn-sm btn-success">PAID</button>
								{% else %}
								<button type="button" class="btn btn-sm btn-warning">UNPAID</button>
								{% endif %}
							</td>
							<td>
								{{ quiz_owner.payment_date }} {{ quiz_owner.payment_time }}
							</td>
							<td>{{ quiz_owner.payment_amount }}</td>
							<td>
								{% if quiz_owner.user_confirm %}
								<button type="button" class="btn btn-sm btn-success">CONFIRMED</button>
								{% else %}
								<button type="button" class="btn btn-sm btn-warning">UNCONFIRMED</button>
								{% endif %}
							</td>
							<td>
								<button class="btn btn-sm btn-outline-warning">Disable</button>
							</td>
							<td>
								<button class="btn btn-sm btn-outline-info">Info</button>
							</td>
						</tr>
						{% set increment.value = increment.value + 1 %}
						{% endfor %}
						{% endif %}
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}