<!-- About section -->
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>Add some information about quizly and other things</h2>
                <p class="lead mb-5">
                    Some more additional info, could consider maybe this `text-muted`
                </p>
                <a class="btn btn-dark btn-xl" href="#services">Some button</a>
            </div>
        </div>
    </div>
</section>