{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<!-- About section -->
<section class="content-section bg-light" id="about">
	<div class="container px-4 px-lg-5 text-center">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-10">
				<h2>Adminstrator Login</h2>

				<p class="lead mb-5 text-italic">
					Admins-only!
				</p>
				<form class="form-control" method="POST" action="/adminlogin">
					{{ form.hidden_tag() }}
					<!-- <div class="form-label-group"> -->
						{{ wtf.form_field(form.username) }}
						<!-- </div> -->

						<!-- <div class="form-label-group"> -->
							{{ wtf.form_field(form.password) }}
							<!-- </div> -->
							<br>
							<br>
							<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		{% endblock %}