<!-- Main content Banner -->
<section class="bg-dark mt-5 pt-2">
	<div class="container bg-dark px-5 ">
		<div class="row gx-5 align-items-center justify-content-center">
			<div class="col-lg-8 col-xl-7 col-xxl-6">
				<div class="my-5 text-center text-xl-start">
					<h1 class="display-5 fw-bolder text-white mb-2">Present your Quizzes in a whole new way</h1>
					<p class="lead fw-normal text-white-50 mb-4">Bringing the essence of quiz competitiveness online!
					</p>
					<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
						<a class="btn btn-primary btn-lg px-4 me-sm-3" href="#" data-bs-toggle="modal"
							data-bs-target="#registerModal">Get Started</a>
						<a class="btn btn-outline-light btn-lg px-4" href="#features">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img
					src="{{url_for('static',filename='assets/img/mainpage.svg') }}" alt="homepage" /></div>
		</div>
	</div>
</section>
<div>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 190">
		<path fill=" #212529" fill-opacity="1"
			d="M0,160L48,160C96,160,192,160,288,144C384,128,480,96,576,101.3C672,107,768,149,864,170.7C960,192,1056,192,1152,186.7C1248,181,1344,171,1392,165.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
		</path>
	</svg>

</div>