<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container p-4 p-lg-5 text-center">
          <div class="row g-4 g-lg-5 justify-content-center">
            <div class="col-sm-6">
              <div class="card">
                <img src="{{url_for('static',filename='assets/img/create_quiz.svg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="{{ url_for('quiz.quizplanspage')}}" class="btn btn-primary">Create Quiz</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <img src="{{url_for('static',filename='assets/img/register.svg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="{{ url_for('quiz.quizbrowsepage') }}" class="btn btn-success">Register for Quiz</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>