<footer class="bg-dark py-3 mt-auto" id="footer">
	<div class="container px-5">
		<div class="row align-items-center justify-content-between flex-column flex-sm-row">
			<div class="col-auto">
				<div class="small m-0 text-white">Copyright &copy; GetSetQuiz 2021</div>
				<div class="text-center text-muted">Quizzing is my passion</div>
			</div>
			<div class="col-auto">
				<li class="list-inline-item">
					<a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
							class="fab fa-facebook"></i></a>
				</li>
				<li class="list-inline-item">
					<a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
							class="fab fa-twitter"></i></a>
				</li>
				<li class="list-inline-item">
					<a href="https://discord.gg/zhNTqxATjN" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
							class="fab fa-discord"></i></a>
				</li>
				<li class="list-inline-item">
					<a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
							class="fab fa-linkedin-in"></i></a>
				</li>
				<li class="list-inline-item">
					<a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
							class="fab fa-youtube"></i></a>
				</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
</footer>