<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Invoice receipt - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://kit.fontawesome.com/877181812c.js" crossorigin="anonymous"></script>
	
</head>
<body>
                        
<div class="receipt-content">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="invoice-wrapper">
					<div class="intro">
						Hi <strong>User</strong>, 
						<br>
						This is the receipt for a payment of <strong>₹2.00</strong> (USD) for your purchase
					</div>

					<div class="payment-info">
						<div class="row">
							<div class="col-sm-6">
								<span>Payment No.</span>
								<strong>434</strong>
							</div>
							<div class="col-sm-6 text-right">
								<span>Payment Date</span>
								<strong>Jul 09, 2021 - 12:20 pm</strong>
							</div>
						</div>
					</div>

					<div class="payment-details">
						<div class="row">
							<div class="col-sm-6">
								<span>Client</span>
								<strong>
									Gigachad
								</strong>
								<p>
									SouthCity Garden <br>
									Behala<br>
									700034 <br>
									India <br>
									<a href="#">
										gigachad@gmail.com
									</a>
								</p>
							</div>
							<div class="col-sm-6 text-right">
								<span>Payment To</span>
								<strong>
									GetSetQuiz
								</strong>
								<p>
									Biddhanagar <br>
									Kolkata<br>
									700034 <br>
									India <br>
									<a href="#">
										getsetquizindia@gmail.com
									</a>
								</p>
							</div>
						</div>
					</div>

					<div class="line-items">
						<div class="headers clearfix">
							<div class="row">
								<div class="col-xs-4">Description</div>
								<div class="col-xs-3">Plan</div>
								<div class="col-xs-5 text-right">Amount</div>
							</div>
						</div>
						<div class="items">
							<div class="row item">
								<div class="col-xs-4 desc">
									Quiz Title
								</div>
								<div class="col-xs-3 qty">
									Enterprise
								</div>
								<div class="col-xs-5 amount text-right">
									₹20.00
								</div>
							</div>
						</div>
						<div class="total text-right">
							<p class="extra-notes">
								<strong>Note</strong>
								You will be mailed a copy of this receipt.
							</p>
							<div class="field">
								Subtotal <span>₹79.00</span>
							</div>
							<div class="field">
								Shipping <span>₹0.00</span>
							</div>
							<div class="field">
								Discount <span>₹.5%</span>
							</div>
							<div class="field grand-total">
								Total <span>₹312.00</span>
							</div>
						</div>

						<div class="print">
							<a href="#">
								<i class="fa fa-print"></i>
								Print this receipt
							</a>
						</div>
						<div class="continue">
							<a href="#">
								<i class="fas fa-long-arrow-alt-right"></i>
								Continue
							</a>
						</div>
					</div>
				</div>

				<div class="footer">
					Copyright © 2021. GetSetQuiz
				</div>
			</div>
		</div>
	</div>
</div>                    



<script type="text/javascript">
                        
                    
</script>
</body>
</html>