{% extends 'base.html' %}

{% block content %}

<div class="receipt-content pt-5 ">
	<div class="container">
		{% if payment_state %}
		<div class="alert alert-success d-flex align-items-center" role="alert">
				[ Could add an icon here for visual effect. ] Great! Payment has been approved.
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="invoice-wrapper">
					<div class="intro">
						Hi <strong>{{ client.parent_user.username }}</strong>,
						<br>
						This is the receipt for a payment of <strong>₹{{ client.payment_amount }}</strong> for your purchase
					</div>

					<div class="payment-info">
						<div class="row">
							<div class="col-sm-6">
								<span>Order ID.</span>
								<strong>{{ params_dict['razorpay_order_id'] }}</strong>
							</div>
							<div class="col-sm-6 text-end">
								<span>Payment Timestamp</span>
								<strong>{{ client.payment_date }} - {{ client.payment_time }}</strong>
							</div>
						</div>
					</div>

					<div class="payment-details">
						<div class="row">
							<div class="col-sm-6">
								<span>Client</span>
								<strong>
									{{ client.parent_user.username  }}
								</strong>
								<p>
									[ Put name here ]<br>
									<a href="#">
										{{ client.parent_user.email }}
									</a>
								</p>
							</div>
							<div class="col-sm-6 text-end">
								<span>Payment To</span>
								<strong>
									GetSetQuiz India
								</strong>
								<p>
									[ Office address? ] <br>
									<a href="#">
										{{ user_manager.USER_EMAIL_SENDER_EMAIL }}
									</a>
								</p>
							</div>
						</div>
					</div>

					<div class="line-items">
						<div class="headers clearfix">
							<div class="row">
								<div class="col-sm-4">Description</div>
								<div class="col-sm-3">Plan</div>
								<div class="col-sm-5 text-end">Amount</div>
							</div>
						</div>
						<div class="items">
							<div class="row item">
								<div class="col-sm-4 desc">
									{{ description }}
								</div>
								<div class="col-sm-3 qty">
									{{ plan }}
								</div>
								<div class="col-sm-5 amount text-end">
									₹{{ client.payment_amount}}
								</div>
							</div>
						</div>
						<div class="total text-end">
							<p class="extra-notes">
								<strong>Note</strong>
								You will be mailed a copy of this receipt.
							</p>
							<div class="field">
								Subtotal <span>₹{{ client.payment_amount}}</span>
							</div>
							<div class="field">
								Discount <span>0%</span>
							</div>
							<div class="field grand-total">
								Total <span>₹{{ client.payment_amount}}</span>
							</div>
						</div>

						<div class="print">
							<a class="btn btn-outline-light btn-lg px-4" href="#"><i class="fa fa-print"></i>Print
							this receipt</a>
						</div>
						<div class="continue">
							<a class="btn btn-outline-light btn-lg px-4" href="{{ url_for('user_dashboard.user_dashboard_page') }}"><i
								class="fas fa-long-arrow-alt-right"></i> Continue</a>
							</div>
						</div>
					</div>

					<div class="footer">
						Copyright © 2021. GetSetQuiz
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="alert alert-warning d-flex align-items-center" role="alert">
			<div>
				[ Could add an icon here for visual effect. ] Something went wrong. Payment could not be approved.
			</div>
		</div>
		{% endif %}		
	</div>

	{% endblock %}